 /* global css  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  body {
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  ul {
    display: block;
  }
  img,
  fieldset {
    max-width: 100%;
    height: auto;
    border: 0;
  }
  ul {
    list-style-type: none;
  }
  ul,
  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  address {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    border: 0;
    outline: none;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
  a img {
    text-decoration: none;
    border: 0;
    outline: none;
  }
  p {
    margin: 0;
    padding: 0;
  }
  label {
    margin: 0;
    padding: 0;
  }
  /* goble.css */
header h1{text-align: center;
  font-size: 52px;
  color: wheat;
  font-family: 'Raleway', sans-serif;
font-weight: 400;}
header{ background-image: url(../image/fabric-top-1.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
padding: 100px 0px;
border-bottom: 2px solid black}

header p{text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: wheat
}
header h2{text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: wheat;
    
}
header h2 a{
  color: white;
  font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 20px;

}
.mid h3{text-align: center;
  padding: 50px;
  font-size: 42px;
  color: cornflowerblue;}
  .info{padding: 50px 0px;}
  .info #contrators h3{
    text-align: center;
    font-size: 42px;
    color: deepskyblue;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 50px

  }
  .info .cont-name{
    border-bottom: 2px solid black;
  }
    
  
  .info #cont-info h4{
    padding: 18px 0px;
  }
  .info #cont-info p{
    padding: 10px 0px;
  }
  .info #cont-info a{
    display: block;
    margin-bottom: 35px;
  }
  .info .my-company h3{
    text-align: center;
    padding: 30px 0px;
    font-size: 42px;
    color: cornflowerblue;
  }
  .info .my-company {
    padding-bottom: 50px;
  }

  footer{background-color: #252525;
    padding: 50px 0px;
}
footer #main-footer .blog h3{color: #fff;
font-size: 24px;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
padding-bottom: 30px;}
footer #main-footer .blog h4{color: #999;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
padding-bottom: 15px;}
footer #main-footer .blog p{color: #999;
font-size: 14px;
line-height: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;}


    footer #main-footer .blog .read-button{text-align: end;
        padding: 20px}
       
        footer #main-footer .blog .read-button a{color: #3bafbe;
        font-size: 14px;}
        footer #main-footer .blog input[type="submit"]{
            background-color: #3bafbe;
border: none;
padding: 10px 20px;
border-radius: 6px;
margin: 10px 0px;
        }
        footer #main-footer input[type="text"]{
            background-color: #2c2c2c;
padding: 10px;
border: none;
border-radius: 7px;
margin: 5px 0px
        }
        footer #main-footer a{color: #3bafbe;
            border-bottom: 1px solid #999999;
            padding-bottom: 6px;
           line-height: 43px;}
           /* bottom */
           .bottom {background-color: #1a1a1a;
        padding: 30px 0px;}
        .bottom .copy-right .domain h4{ font-size: 14px;
        color: #999999;}
        .bottom .copy-right .domain h5{ font-size: 14px;
            text-align: end;
            color: #999999;}